$bg-main: var(--color-main);
$bg-label: var(--color-bg-label);
$color-label: var(--color-label);
$color-text: var(--color-text);
$bg-btn: var(--color-btn);
$bg-btn-focus: var(--color-btn-focus);
$bg-inp: var(--color-bg-inp);
$bg-inp-disable: var(--color-bg-inp-disable);
$color-inp-disable: var(--color-inp-disable);
$border-light: var(--color-border-l);
$border-medium: var(--color-border-m);
$border-strong: var(--color-border-s);
$color-route: var(--color-route);
$color-route-disable: var(--color-route-disable);
$file-item-focus: var(--color-item);
$file-item-hover: var(--color-hover);
$file-folder: var(--color-folder);
$file-icon: var(--color-file-icon);
$bg-iframe: var(--color-bg-iframe);


$responsive-size: 560px;